body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj1iLLyG425Zv4s6GRrdJAqaFIVk3hoL5Prg&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    margin: 0;
}
